
<h2>Список оборудования</h2>
<table *ngIf="messages">
  <thead>
    <tr>
      <td>Идентификатор оборудования</td>
      <td>Пользователь</td>
      <td>Версия ПО</td>
      <td>Действия</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of messages; let e = even" [style.background]="e ? 'yellow' : ''">
      <ng-template [ngIf]="messages">
        <td>{{m?.device}}</td>
        <td>{{m?.userName}}</td>
        <td>{{m?.versionPA}}</td>
        <td>
          <button class="btn btn-sm" (click)="getListMessage(m)">Подробнее</button>
        </td>
      </ng-template>

    </tr>
  </tbody>
</table>

<p *ngIf="showDownloadingMessage">
  Loading... Please refresh once the ASP.NET backend has started..
</p>

