@import "src/stylesConst.less";

h1 {
  font-size: @header-size;
  margin-left: 150px;
  margin-bottom: 0px;
  font-weight: @header-weight;
}

.h {
  text-align: left;
  font-size: @header-size;
  font-weight: @header-weight;
}

td {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
}

tbody tr:hover td {
  background: blue; /* фон строки при наведении, причем только тела таблицы */
}
